* {
    
    color: #FFF;
}

body {
    font-family: 'Roboto';
    background-color: rgb(0, 0, 0);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 50px;
}

.topleft {
    text-decoration: none;
}

.Logo_Nom {
    display: flex;
    align-items: center;
    color: white;
}

.Nom {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.topnav {
    display: flex;
    list-style: none;
    background-color: #141414;
    padding: 20px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 36px;

}

.nav_elmt, .nav_elmt1 {
    text-decoration: none;
    color: white;
    background-color: #141414;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    padding: 14px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 36px;
    transition-duration: 0.3s;

}

.nav_elmt:hover {
    background-color: #222222;
}

.nav_elmt1 {
    background-color: #FFF;
    color: black;
    
}

.topright{
    display: flex;
    align-items: center;
    gap: 20px;
}

.lg {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5px;
    padding-left: 7px;
    background-color: #232323;
    border-radius: 24px;
    color: #FFF;
    gap: 10px;
    font-size: 12px;
    font-weight: bold;
}

.lg_elmt, .lg_elmt1{
    background-color: #232323;
    text-decoration: none;
    color: #FFF;
}

.lg_elmt {
    background-color: white;
    color: black;
    border-radius: 36px;
    padding: 5px;
}

button {
    color: black;
    background-color: white;
    border: none;
    border-radius: 36px;
    width: 120px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    transition-duration: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #898989;
}

/* fin header, debut body */

h1 {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 10px;
}

.scroll-btn {
    width: 40px; 
    height: auto;
}

.salle1 {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.showcase {
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    margin-left: 20px;
    margin-right: 20px;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: left;    
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.occupied {
    background-color: #fff;
}

.screen {
    
    background: #fff;
    height: 70px;
    width: 100%;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255,255,255,0.7);
    
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.salle2 {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.salle3 {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.ajouter_salle {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.add_btn{
    width: 40px;
    height: auto;
}

/* fin body, debut footer */

footer {
    display: flex;
    flex-direction: column;
    background: #282828;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.nav_bas {
    color: #8A8A8A;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    list-style: none;
    gap: 60px;
}

.nav_bas_elmt {
    text-decoration: none;
}

.reseaux {
    display: flex;
    list-style: none;
    gap: 69px;
}

.mention_legales {
    display: flex;
    align-items: center;
    gap: 16px;
    
}
.mention_legales_text {
    color: #5A5A5A;
}
.Copyright {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}