.center {
    display: flex;
}
h1 {
    color: black;
}
.imagelogin {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
}

body{
    background-color: black;
    font-family: "Roboto";
}
h2 , p{
    color:white;

}
.id {
    color: #777;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    padding-left: 15px;
    border: 5px solid #818181;
    background: rgba(217, 217, 217, 0.00);
    
}
.id:focus{
    color:white;
    border: 5px solid white;
}


h2{
    color: #FFF;

font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 20px;
    border: 2px solid;
    border-width: 20px;
}
button{
    
    width: 190px;
    height: 49px;
    flex-shrink: 0;
}
.connexion{
    margin-left: 50px;
}
.creationcompte{
    text-decoration: none;
}
.lienverscreation {
    color :rgb(80, 177, 226);
}

    
.inline{
    display: inline;
}

.buttonconnexion{
    border-radius: 20px;
    font-size:20px;
    font-family: "Roboto";

}
.connexion{
    position:absolute;
    left:100px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.logo-events{
    position:absolute;
    right: 0;
    top:0;
}
