* {
    
    color: #FFF;
}

body {
    font-family: 'Roboto';
    background-color: rgb(0, 0, 0);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 50px;
}

.topleft {
    text-decoration: none;
}

.Logo_Nom {
    display: flex;
    align-items: center;
    color: white;
}
.Nom {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.topnav {
    display: flex;
    list-style: none;
    background-color: #141414;
    padding: 20px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 36px;

}
.nav_elmt, .nav_elmt1 {
    text-decoration: none;
    color: white;
    background-color: #141414;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    padding: 14px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 36px;
    transition-duration: 0.3s;

}
.nav_elmt:hover {
    background-color: #222222;
}
.nav_elmt1 {
    background-color: #FFF;
    color: black;
    
}
.topright{
    display: flex;
    align-items: center;
    gap: 20px;
}
.lg {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5px;
    padding-left: 7px;
    background-color: #232323;
    border-radius: 24px;
    color: #FFF;
    gap: 10px;
    font-size: 12px;
    font-weight: bold;
}
.lg_elmt, .lg_elmt1{
    background-color: #232323;
    text-decoration: none;
    color: #FFF;
}
.lg_elmt {
    background-color: white;
    color: black;
    border-radius: 36px;
    padding: 5px;
}

button {
    color: black;
    background-color: white;
    border: none;
    border-radius: 36px;
    width: 120px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    transition-duration: 0.3s;
    cursor: pointer;
}
button:hover {
    background-color: #898989;
}

@keyframes slideinleft {
    from {
        margin-left: -60%;
        opacity: 0%;
    }
}
@keyframes slideinright {
    from {
        margin-right: -60%;
        opacity: 0%;
    }
}

/*Center 1*/

h1 {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    animation-duration: 1.2s;
    animation-name: slideinleft;
}

.soundwaves {
    width: 700px; 
    height: auto; 
}

.scroll-btn {
    width: 40px; 
    height: auto;
}
.center1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left1 {
    padding-left: 40px;
}

/*Center 2*/

.center2 {
    background-color: rgba(40, 40, 40, 0.60);
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 120px;
    padding-bottom: 120px;
}
.img-intouchables {
    width: 250px;
    height: auto;
}

.caroussel {
    display: flex;
    align-items: center;
}
.slider-1 {
    max-width: 250px;
    margin: 100px auto;
    overflow: hidden;  
}
.slider-1 .slider {
    animation: slider-1 12s infinite ease-in-out;
    display: flex;
}

@keyframes slider-1 {
    0%,
    20% {
      transform: translateX(0);
    }
    25%,
    45% {
      transform: translateX(-100%);
    }
    50%,
    70% {
      transform: translateX(-200%);
    }
    75%,
    100% {
      transform: translateX(-300%);
    }
    
}

.arrow {
    width: 60px;
    height: auto;
}



.right2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reserver_text {
    color: #ACA6A6;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    animation-duration: 1.2s;
    animation-name: slideinleft;
    animation-timeline: view();
}

h2 {
    color: #ACA6A6;
}

.center3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 90px 0;
    background: linear-gradient(270deg, #282828 0%, rgba(0, 0, 0, 0.00) 100%);
}

.right3 {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 40px;
}

.expérience {
    color: #961DF5;
}

.texte_son {
    width: 500px;
    color: #888;
    text-align: right;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    animation-duration: 1.2s;
    animation-name: slideinright;
    animation-timeline: view() ;
    overflow: hidden;
}

.center4 {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 400px;
    background: linear-gradient(90deg, rgba(40, 40, 40, 0.60) 0%, rgba(40, 40, 40, 0.00) 100%);
}

.left4{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.texte_image {
    width: 500px;
    color: #7B7B7B;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    animation-name: slideinleft;
    animation-timeline: view() ;
    overflow: hidden;
}

.captivant {
    color: #3375AA;
}

footer {
    display: flex;
    flex-direction: column;
    background: #282828;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.nav_bas {
    color: #8A8A8A;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    list-style: none;
    gap: 60px;
}

.nav_bas_elmt {
    text-decoration: none;
}

.reseaux {
    display: flex;
    list-style: none;
    gap: 69px;
}

.mention_legales {
    display: flex;
    align-items: center;
    gap: 16px;
    
}
.mention_legales_text {
    color: #5A5A5A;
}
.Copyright {
    width: 28px;
    height: 28px;
    flex-shrink: 0;}

