* {
    
    color: #FFF;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
    background-color: rgb(0, 0, 0);
    margin: 0;
    overflow-x: hidden;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lettre {
    color: #484848;
    font-size: 80px;
    letter-spacing: 15px;
    animation: flash 1.2s linear infinite;
}

@keyframes flash {
    0% {
        color: #1e94d3;
        text-shadow: 0 0 7px #1e94d3;
    }
    90%{
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: #1e94d3;
        text-shadow: 0 0 7px #1e94d3;
    }
}

.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}

.fondu-out {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 50px;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-top: 2%;
}

.topleft {
    text-decoration: none;
}

.Logo_Nom {
    display: flex;
    align-items: center;
    color: white;
    gap: 20px;
}
.Nom {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

nav {
    display: flex;
    list-style: none;
    background-color: #141414;
    padding: 20px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 36px;
    gap: 30px;

}
.nav_elmt, .nav_elmt1 {
    text-decoration: none;
    color: white;
    background-color: #141414;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 14px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 36px;
    transition-duration: 0.3s;

}
.nav_elmt:hover {
    background-color: #222222;
}
.nav_elmt1 {
    background-color: #FFF;
    color: black;
    
}
.topright{
    display: flex;
    align-items: center;
    gap: 20px;
}
.lg {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5px;
    padding-left: 7px;
    background-color: #232323;
    border-radius: 24px;
    color: #FFF;
    gap: 10px;
    font-size: 12px;
    font-weight: bold;
}
.lg_elmt, .lg_elmt1{
    background-color: #232323;
    text-decoration: none;
    color: #FFF;
}
.lg_elmt {
    background-color: white;
    color: black;
    border-radius: 36px;
    padding: 5px;
}

button {
    color: black;
    background-color: white;
    border: none;
    border-radius: 36px;
    width: 120px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    transition-duration: 0.3s;
    cursor: pointer;
    filter: drop-shadow(2px 2px 1px rgb(119, 119, 119));
}
button:hover {
    background-color: #898989;
}
.menu {
    display: none;
}

@keyframes slideinleft {
    from {
        margin-left: -20%;
        opacity: 0%;
    }
}
@keyframes slideinright {
    from {
        margin-right: -20%;
        opacity: 0%;
    }
}

@media (max-width:1060px) {
    nav {
        position: fixed;
        top: -100%;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        border-radius: 0 0 40px 40px;
    }

    .menu {
        display: block;
    }
    .button1 {
        display: none;
    }
    nav.active {
        left: 0;
        right: 0;
        width: 100%;
        top: 8vw;
    }
}

@media (max-width:520px) {
    .Nom {
        display: none;
    }
    .Logo_Nom {
        transform: scale(0.7);
    }
    .lg {
        transform: scale(0.7);
    }
    header {
        margin: 0 10px 0 10px;
    }
}

/*Center 1*/

h1 {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    animation-duration: 1.2s;
    animation-name: slideinleft;
}

@media (max-width:550px) {
    h1 {
        font-size: 1rem;
    }
}

.soundwaves {
    width: 700px; 
    height: auto; 
}

.scroll-btn {
    width: 40px; 
    height: auto;
}
.center1 {
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.left1 {
    margin-left: 5%;
}


@media (max-width:1030px) {
    .center1 {
        flex-direction:column;
        justify-content: center;
        gap: 60px;
    }
    .soundwaves {
        width: 70%;
        height: auto;
    }

    h1 {
        text-align: center;
    }
    .left1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 0;
    }
}

/*Center 2*/

.center2 {
    background-color: rgba(40, 40, 40, 0.60);
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 120px;
    padding-bottom: 120px;
    min-height: 100vh;

}
.img-intouchables {
    width: 250px;
    height: auto;
}

.caroussel {
    display: flex;
    align-items: center;
}
.slider-1 {
    max-width: 250px;
    margin: 100px auto;
    overflow: hidden;  
}
.slider-1 .slider {
    animation: slider-1 12s infinite ease-in-out;
    display: flex;
}

@keyframes slider-1 {
    0%,
    20% {
      transform: translateX(0);
    }
    25%,
    45% {
      transform: translateX(-100%);
    }
    50%,
    70% {
      transform: translateX(-200%);
    }
    75%,
    100% {
      transform: translateX(-300%);
    }
    
}

.arrow {
    width: 60px;
    height: auto;
}



.right2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reserver_text {
    color: #ACA6A6;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    animation-duration: 1.2s;
    animation-name: slideinleft;
    animation-timeline: view();
}

h2 {
    color: #ACA6A6;
}

@media (max-width:860px) {
    .reserver_text {
        font-size: 24px;
    }

    .img-intouchables {
        width: 150px;
    }

    .slider-1 {
        max-width: 150px;
        margin: 50px auto;
    }
    
}

@media (max-width:600px) {
    .center2 {
        flex-direction: column;
        gap: 90px;
    }

    .left2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .reserver_text {
        font-size: 16px;
    }
    button {
        border-radius: 36px;
        width: 100px;
        height: 40px;
        font-size: 14px;
    }
}

.center3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 90px 0;
    background: linear-gradient(270deg, #282828 0%, rgba(0, 0, 0, 0.00) 100%);
    min-height: 100vh;
}

.right3 {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 40px;
    margin: 2vh;
}

.expérience {
    color: #961DF5;
}

.texte_son {
    max-width: 500px;
    color: #dbdbdb;
    text-align: right;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    animation-name: slideinright;
    animation-timeline: view();
}

@media (max-width:990px){
    .center3 {
        flex-direction:column;
        
    }
    .img-enceinte {
        transform: scale(0.5);
    }
    .texte_son {
        font-size: 18px; 
        text-align: center;
    }
    .small-h1 {
        font-size: 20px;
    }
    .right3{
        align-items: center;
    }
}


.center4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    min-height: 100vh;

}

.left4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin: 2vh;
}

.texte_image {
    max-width: 500px;
    color: #dbdbdb;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    animation-name: slideinleft;
    animation-timeline: view() ;
}

@media (max-width:990px){
    .center4 {
        flex-direction:column-reverse;
        
    }
    .img-terre {
        transform: scale(0.5);
    }
    .texte_image {
        font-size: 18px; 
        text-align: center;
    }
    .left4{
        align-items: center;
    }
}

@media (max-width:320px){
    .texte_son,.texte_image{
        font-size: 14px;
    }
}
@media (max-width:1300px) {
    .texte_son, .texte_image,.reserver_text{
        animation-name: none;
    }
}
.captivant {
    color: #3375AA;
}

footer {
    display: flex;
    flex-direction: column;
    background: #282828;
    justify-content: center;
    align-items: center;
    gap: 60px;
    overflow: hidden;
}

.nav_bas {
    display: flex;
    color: #8A8A8A;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    list-style: none;
    gap: 60px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
@media (max-width:760px) {

}

.nav_bas_elmt {
    text-decoration: none;
    color: #8A8A8A;
}

.reseaux {
    display: flex;
    list-style: none;
    gap: 69px;
}

.mention_legales {
    display: flex;
    align-items: center;
    gap: 16px;
    
}
.mention_legales_text {
    color: #5A5A5A;
}
.Copyright {
    width: 28px;
    height: 28px;
    flex-shrink: 0;}

