body{
    background: black;
}


.imagelogin {
    position: absolute;
    top:0;
    left:0;
    width: 50%;
}
.logo-events{
    position: absolute;
    top:0;
    right:0;
}
.redirection{
  margin-left:69%;
  margin-top:1%;
  font-size: 18px;
    
   
}
.question{
    display: inline;
    padding:5px;
    font-size: 16px;
}


.inputs{
    display:flex;
    flex-direction: column;
    gap:30px;
    align-items: flex-end;
    margin-right: 20%;
    margin-top: 1%;
}

.id{
    color: #777;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    padding-left: 15px;
    border: 5px solid #818181;
    background: rgba(217, 217, 217, 0.00);
    
}
.id:focus{
    color:white;
    border-color: white;
}

.lienversconnexion{
    color :rgb(80, 177, 226);
    
}
h2{
    text-align: right;
    color: white;
    font-size: 40px;
    margin-right: 17.8%;
    color: #FFF;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: -5%;
}
.button-creer{
    width: 190px;
    height: 49px;
    flex-shrink: 0;
    color: black;
    background: grey;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px;
    margin-top: -1%;
    
    
}
.button-creer:hover{
    color: black;
    background: white;
}
p{
    color: white;
    font-size:11px;
    font-family: "Roboto";
}

.CGU{
    display: flex;
    align-items: flex-start;
    position: inline;
    margin-right: -20%;
    margin-top:-4%;
}

.CGU-checkbox {
    margin-top: 11px;
}

.CGU-ensemble{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-right: -11%;
    
    
    
}