body {
    font-family: 'Roboto';
    background-color: rgb(0, 0, 0);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 50px;
}

.topleft {
    text-decoration: none;
}

.Logo_Nom {
    display: flex;
    align-items: center;
    color: white;
    gap: 20px;
}
.Nom {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.topnav {
    display: flex;
    list-style: none;
    background-color: #141414;
    padding: 20px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 36px;
    gap: 30px;

}
.nav_elmt, .nav_elmt1 {
    text-decoration: none;
    color: white;
    background-color: #141414;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 14px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 36px;
    transition-duration: 0.3s;

}
.nav_elmt:hover {
    background-color: #222222;
}
.nav_elmt1 {
    background-color: #FFF;
    color: black;
    
}
.topright{
    display: flex;
    align-items: center;
    gap: 20px;
}
.lg {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5px;
    padding-left: 7px;
    background-color: #232323;
    border-radius: 24px;
    color: #FFF;
    gap: 10px;
    font-size: 12px;
    font-weight: bold;
}
.lg_elmt, .lg_elmt1{
    background-color: #232323;
    text-decoration: none;
    color: #FFF;
}
.lg_elmt {
    background-color: white;
    color: black;
    border-radius: 36px;
    padding: 5px;
}

button {
    color: black;
    background-color: white;
    border: none;
    border-radius: 36px;
    width: 120px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    transition-duration: 0.3s;
    cursor: pointer;
}
button:hover {
    background-color: #898989;
}
.menu {
    display: none;
}












main {
    display: grid;
    grid-template-columns: 35% 65%;
    color: white;
    height: auto;
    padding: 0 7vw 0 7vw;
    gap: 10vw;
    
}

#film1{
    height: 30vw;
    width: auto;
    margin-left: 7vw;
    margin-right: 8vw;
    margin-top: 6vh;
    border: 1px solid rgb(136, 133, 133);
    border-radius: 30px;  

}

#resum{
    width: 40vw;
    font-size: 1.4vw;

}

#genre{
    display: flex;

}
#A{
    color: grey;
    font-size: 1.5vw;

}

#AB{
    font-size: 1.5vw;
    color: white;
}

#B{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#C{
    display: flex;
    flex-direction: row;
    padding-right: 13vw;
}

#S1, #S2{
    color: grey;
    font-size: 1.3vw;
}
#S12{
    font-size: 1.3vw;
}

#titreF{
    font-size: 2vw;
}

#place{
    font-size: 1.3vw;
    color: grey;
}
#place1{
    font-size: 1.3vw;
    color: white;
}
#plaace{
    display: flex;
    flex-direction: flex-start;
    align-items: center;
    font-size: 2vw;

}

#genre, #B, #C{
    font-size: 2vw;
}

.form{
    position: relative;
    margin-left: 10vw;
    margin-right: 100vw;
    width: 60vw;
    border: 3px solid rgb(16, 105, 140);
    border-radius: 40px;
    padding-left: 2vw;
    /* padding-right: 2vw; */
}



#M1{
    font-size: 2vw;
    display: grid;
    grid-template-columns: 35% 65%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    
}



#F1, #F2{
    display: flex;
    align-items: center;
    gap: 5vw;
    width: 60vw;
}

#in1, #in2, #in3, #in4{
    width: 20vw;
    height: 7vh;
    border-radius: 20px;
    text-align: center;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: vw;

}



#img2{
    height: 40px;
    width: 60px;
    border: 2px solid grey;
    border-radius: 8px;
    /* margin-left: 10px; */

}

#in1, #in2, #in3, #in4{
    border: 3px solid grey;
    color: grey;
    background-color: #141414;
    text-decoration: overline;
    font-size: 1.5vw;
    
}

#resav{
    margin-left: 15vw;
    color: white;
    font-size: 2vw;
}

#resa{
    font-size: 4vw;
}

.but{
    width: 60vw;

}

#b1{
    /* display: flex;
    margin-left: 3vw;
    margin-right: 20vw; */

    position: absolute;
    bottom: 1.5vh;
    left: 2vw;

    width: 10vw;
    border-radius: 30px;
    color: #53c2c8;  
    background-color: rgb(11, 46, 97);
    font-size: 1.22vw;
    
}
#b1:hover{
    background-color: #0de7f2;
    color: rgb(12, 12, 233);
}

#img3{
    height: 2vh;
}



#lien{
    margin-left: 10vw;
    font-size: larger;
    color: #FFF;
}












footer {
    display: flex;
    flex-direction: column;
    background: #282828;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.nav_bas {
    color: #8A8A8A;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    list-style: none;
    gap: 60px;
}

.nav_bas_elmt {
    text-decoration: none;
    color: grey;
}

.reseaux {
    display: flex;
    list-style: none;
    gap: 69px;
}

.mention_legales {
    display: flex;
    align-items: center;
    gap: 16px;
    
}
.mention_legales_text {
    color: #5A5A5A;
}
.Copyright {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

.totalpp{
    display: grid;
    grid-template-columns: 50% 50%;
}

#img1pp{
    height: 2vh;
    width: 2vw;
}

.imgpopup, .interieur{
    display: grid;
    
}

