header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 50px;
  }
  
  .topleft {
    text-decoration: none;
  }
  
  .Logo_Nom {
    display: flex;
    align-items: center;
    color: white;
  }
  .Nom {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  
  .topnav {
    display: flex;
    list-style: none;
    background-color: #141414;
    padding: 20px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 36px;
  
  }
  .nav_elmt, .nav_elmt1 {
    text-decoration: none;
    color: white;
    background-color: #141414;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    padding: 14px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 36px;
    transition-duration: 0.3s;
  
  }
  .nav_elmt:hover {
    background-color: #222222;
  }
  .nav_elmt1 {
    background-color: #FFF;
    color: black;
    
  }
  .topright{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .lg {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5px;
    padding-left: 7px;
    background-color: #232323;
    border-radius: 24px;
    color: #FFF;
    gap: 10px;
    font-size: 12px;
    font-weight: bold;
  }
  .lg_elmt, .lg_elmt1{
    background-color: #232323;
    text-decoration: none;
    color: #FFF;
  }
  .lg_elmt {
    background-color: white;
    color: black;
    border-radius: 36px;
    padding: 5px;
  }
    button {
      color: black;
      background-color: white;
      border: none;
      border-radius: 36px;
      width: 120px;
      height: 50px;
      font-size: 18px;
      font-weight: 700;
      transition-duration: 0.3s;
      cursor: pointer;
  
  }
  button:hover {
    background-color: #898989;
  }
  
  /*FIN HEADER*/

  body{
    background: black;
    color: #FFF;
  }

  .film-nom{
  color: #FFF;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }
  .film-cover{
    width: 322px;
    height: 430px;
    flex-shrink: 0;
    margin-left: 1%;
  }
  .film{
    
  }
  .film-info{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    

    
  }
  .film-genre{
  color: #666;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }
  .film-text{
    margin-left:20%;
    margin-top:-22%;

  }
  .film-duree{
    color: #666;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
