

.center {
    display: flex;
}
h1 {
    color: black;
}
.imagelogin {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
}
.imagelogin2 {
    position: absolute;
    top:0;
    left:0;
}

body{
    background-color: black;
    font-family: "Roboto";
}
h2 , p{
    color:white;

}
.id {
    color: #777;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    padding-left: 15px;
    border: 5px solid #818181;
    background: rgba(217, 217, 217, 0.00);
    
}
.id:focus{
    color:white;
    border: 5px solid white;



}
.id2{
    color: #777;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 30px;
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    width: 300px; 
}
.a:focus,.b:focus,.c:focus,.d:focus,.e:focus,.f:focus{
    color:white;
    border:solid 5px white;
}
h2{
    color: #FFF;

font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.inputs {
  
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 20px;
    border: 2px solid;
    border-width: 20px;
}
button{
    
    width: 190px;
    height: 49px;
    flex-shrink: 0;
}
.connexion{
    margin-left: 50px;
}
.creationcompte{
    text-decoration: none;
}
.lienverscreation {
    color :rgb(80, 177, 226);
}
.lienversconnexion{
    color :rgb(80, 177, 226);
    position :absolute;
    right: 181px;
    top:646px;
}
    
.inline,.inline2{
    display: inline;
}
.inline2{
    position :absolute;
    right: 280px;
    top: 630px;

}
.titre{
   position: absolute;
   right:100px;
   top:30px;
   width:366px;
   height: 56px;
}
.a{
    position :absolute;
    right: 200px;
    top: 180px;
    margin-bottom: 10px;
    color: #777;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 600px;
    line-height: normal;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    background-color:black;
    border-color:white;
    border-radius: 10px;
    border: 5px solid #818181;
    background: rgba(217, 217, 217, 0.00);
    padding-left: 15px;
    
}
.b{ 
    position :absolute;
    right: 200px;
    top: 240px;
    margin-bottom: 10px;
    color: #777;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600px;
    line-height: normal;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    padding-left: 15px;
    border: 5px solid #818181;
    background: rgba(217, 217, 217, 0.00);
    border-radius: 10px;
    

}
.c{
    position :absolute;
    right: 200px;
    top: 300px;
    margin-bottom: 10px;
    color: #777;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600px;
    line-height: normal;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    padding-left: 15px;
    border: 5px solid #818181;
    background: rgba(217, 217, 217, 0.00);
    border-radius: 10px;
    
}
.d{
    position :absolute;
    right: 200px;
    top: 360px;
    margin-bottom: 10px;
    color: #777;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600px;
    line-height: normal;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    padding-left: 15px;
    border: 5px solid #818181;
    background: rgba(217, 217, 217, 0.00);
    border-radius: 10px;
    
    

}
.e {
    position :absolute;
    right: 200px;
    top: 440px;
    margin-bottom: 10px;
    color: #777;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600px;
    line-height: normal;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    padding-left: 15px;
    border: 5px solid #818181;
    background: rgba(217, 217, 217, 0.00);
    border-radius: 10px;
    

}
.f{
    position :absolute;
    right: 200px;
    top: 500px;
    margin-bottom: 10px;
    color: #777;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600px;
    line-height: normal;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    padding-left: 15px;
    border: 5px solid #818181;
    background: rgba(217, 217, 217, 0.00);
    border-radius: 10px;
}
.buttoncreer{
    position :absolute;
    right: 220px;
    top: 580px;
    border-radius: 20px;
    font-size: 20px;
    background-color: white;
    font-family: "Roboto";

}
.buttonconnexion{
    border-radius: 20px;
    font-size:20px;
    font-family: "Roboto";

}
.connexion{
    position:absolute;
    left:100px;
    display: flex;
    flex-direction: column;
    gap: 40px;


}
.logo-events{
    position:absolute;
    right: 0;
    top:0;
}
.pied-de-page{
    background: #282828;
    
}